body{
    background-color: rgb(41, 48, 46);
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
h1, ul, a {
    color: rgb(223, 237, 224);
}
ul, a {
    font-size: medium;
}
li {
    padding-top: 3px;
}
#text_box {
    background-color: rgb(99, 108, 145);
    width: 50vw;
    height: auto;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-right: 2vw;
    margin-bottom: 2vh;
}